In [0]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",1500),
    ("Michael","Rose","Schmidt","40288","M",1950),
    ("Robert","","Williams","42114","M",3800),
    ("Maria","Anne","Jones","39192","F",1100),
    ("Jen","Mary","Brown","24687","F",6000)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data2,schema=schema)
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3200  |
|Michael  |Rose      |Schmidt |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4500  |
|Maria    |Anne      |Jones   |39192|F     |2700  |
|Jen      |Mary      |Brown   |24687|F     |6000  |
+---------+----------+--------+-----+------+------+

In [0]:
# Challenge_1 (Pyspark): Create a new column called 'email_address'. The email addres must follow the following format: lastname_firstname@bigdata.com.

In [0]:
# Challenge_2 (Pandas): Consider the following income tax bracket:
# +----------------+-------+
# | Monthly income | Tax % |
# +----------------+-------+
# | 0-1200         |   5   |
# | 1201-1700      |   8   |
# | 1701-2400      |   10  |
# | 2401-4000      |   12  |
# | 4001-7000      |   14  |
# +----------------+-------+
#Create a new column called 'calculated_taxes'. Calculate the how much each person will pay of taxes based on their income.